---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
---

<header class="px-5 m-0 text-text-on-white">
	<nav class="flex items-center justify-between">
		<h2 class="m-0 text-xl font-bold"><a class="text-text-on-white hover:text-primary" href="/">{SITE_TITLE}</a></h2>
		<div> 
			<HeaderLink href="/blog">Blog</HeaderLink>
		</div>
	</nav>
</header>