---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, '');
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + (subpath?.[0] || '');
---

<a href={href} class:list={['inline-block border-b-4 py-4 px-2 text-inherit hover:text-primary hover:font-bold', isActive ?'border-primary font-bold' : 'border-transparent']} {...props}>
	<slot />
</a>
